<p id="notice"><%= notice %></p>

<div 
  class="banner">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
 
<%= link_to 'Add a movie to your list', new_list_bookmark_path(@list) %>
 
<div class="container">
  <div class="row justify-content-center">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-4 my-3">
        <div class="card"> 
          <img class="card-img-top" src="<%= bookmark.movie.poster_url %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><strong><%= bookmark.movie.title %> </strong> <%= bookmark.movie.rating %> </h5>

            <p class="card-text">  <%= bookmark.movie.overview %> </p>  
            <div class="d-flex justify-content-between">
                <p> <strong> " <%= bookmark.comment %> </strong> </p>  
                <%= link_to 'delete', bookmark_path(bookmark), method: 'delete', data: { confirm: 'Really?' }, class: 'card-remove-link' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<br>

<%= link_to 'Edit', edit_list_path(@list) %>
<%= link_to "Back", lists_path %>